---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const paths = posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
  return paths;
};

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main class="content-grid">
    <h1>{post.data.title}</h1>
    <p>{post.data.date}<span> | {post.data.author}</span></p>
    <Image
      src={post.data.image}
      alt={post.data.title}
      width={1024}
      height={480}
    />
    <section class="full-width my-2">
      <Content />
    </section>
  </main>
</Layout>

<style>
  .my-2 {
    margin-top: 2rem;
  }
</style>
