---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
type Props = {
  post: CollectionEntry<'posts'>;
};
const { post } = Astro.props;
---

<article>
  <a href={`/posts/${post.slug}`}>
    <Image
      src={post.data.image}
      alt={post.data.title}
      width={600}
      height={600 / 2}
    />
  </a>
    <a href={`/posts/${post.slug}`}>
        <h2>{post.data.title}</h2>
    </a>
    <p>{post.data.date}</p>
    <p>{post.body}</p>
</article>
